{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
  Cluster Account Deletion Request
{% endblock %}


{% block content %}
  <h1>Cluster Account Deletion Request</h1>

  <p>
    This form begins the process to request to have your cluster
    account deleted.
  </p>

  <p>
    After a standard waiting period of {{ waiting_period }}, you will be
    removed from all projects you are a part of. You will lose access to
    the cluster. Your data will be deleted off of the cluster. Additionally,
    {{ project_name }} will no longer be charged the $25 monthly fee.
  </p>

  <p>
    Please note that while you may regain access to the cluster and may rejoin
    projects, your data will not be recoverable after your request is completed.
    It is therefore important that you move all data that your PI or group wish
    to keep that is currently in your personal cluster directories out of your
    personal cluster directories.
  </p>

  <p>Note about cancelling the request.</p>

  <div class="card mb-3">
    <div class="card-header">
      <h2>
        Cluster Account Deletion Form
      </h2>
    </div>
    <div class="card-body">
      <p>
        Please complete the below form to confirm that you both
        understand the cluster account deletion implications and
        wish to proceed.
      </p>

      <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-success" type="submit" value="submit">
        <a class="btn btn-secondary" href="{% url 'cluster-account-deletion-user' user_obj.pk %}" role="button">Cancel</a>
      </form>
    </div>
  </div>

  <script>
      $("#navbar-main > ul > li.active").removeClass("active");
      $("#navbar-admin").addClass("active");
  </script>

{% endblock %}
