{% extends "common/base.html" %}
{% load common_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  Validate LBL Project IDs
{% endblock %}

{% block content %}

<h1>Validate LBL Project IDs</h1>
<p>
    To test the validity of multiple Project IDs, put each on its own line. The form checks whether
    each Project ID is well-formed, and if it is well-formed, it checks the validity of each ID. Do
    not put extra text or spaces, else the form will consider the ID malformed.
</p>
<hr>

<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" class="btn btn-primary" value="Validate">
</form>

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-admin").addClass("active");
  $("#navbar-billing-id-usages").addClass("active");
</script>

{% endblock %}