{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
User Accounts: Update Project IDs
{% endblock %}


{% block content %}

<h1>Update Project IDs for User Account Fees</h1>
<hr>

<p>
  Update the Project IDs charged for the user account fee for each user with
  active cluster access across your projects.
</p>

<hr>

{% if formset|length > 0 %}
  {% include "billing/update_billing_ids_tool.html" with formset=formset %}
{% else %}
  <div class="alert alert-info">
    There are no users with active cluster access across your projects.
  </div>
{% endif %}


{% endblock %}
