WSGISocketPrefix /var/run/wsgi
LoadModule auth_basic_module modules/mod_auth_basic.so
LoadModule authz_user_module modules/mod_authz_user.so
LoadModule headers_module modules/mod_headers.so

WSGIPassAuthorization On

<VirtualHost 0.0.0.0:{{ app_port }}>

    ServerName {{ hostname }}
    ServerAlias {{ hostname }}

    Alias /static/ {{ git_prefix }}/{{ reponame }}/static_root/
    <Directory {{ git_prefix }}/{{ reponame }}/static_root/>
        Require all granted
    </Directory>

    WSGIDaemonProcess coldfront python-path={{ git_prefix }}/{{ reponame }} python-home={{ git_prefix }}/venv/ processes={{ apache_num_processes }} threads={{ apache_num_threads_per_process }} display-name=coldfront
    WSGIProcessGroup coldfront
    WSGIApplicationGroup %{GLOBAL}

    WSGIScriptAlias / {{ git_prefix }}/{{ reponame }}/{{ djangoprojname }}/config/wsgi.py process-group=coldfront

    <Directory {{ git_prefix }}/{{ reponame }}/{{ djangoprojname }}/config/>
        <Files wsgi.py>
            Require all granted
        </Files>
    </Directory>

    ErrorLog /var/log/httpd/{{ wsgi_conf_log_prefix }}.error.log
    CustomLog /var/log/httpd/{{ wsgi_conf_log_prefix }}.custom.log combined

    <Location "/metrics">
        AuthType Basic
        AuthName "Metrics"
        AuthUserFile {{ htpasswd_file }}
        <RequireAll>
        {% if ip_range_with_metrics_access is defined and ip_range_with_metrics_access | length > 0 %}
            <RequireAny>
            {% for ip_range in ip_range_with_metrics_access %}
                Require ip {{ ip_range }}
            {% endfor %}
            </RequireAny>
        {% endif %}
            Require user {{ metrics_htpasswd_user }}
        </RequireAll>
    </Location>

</VirtualHost>
