arrow
beautifulsoup4
bibtexparser
blessed
chardet
coverage
Django
django-allauth
django-constance
django-crispy-forms
django-debug-toolbar
django-durationwidget
django-filter
django-flags
django-formtools
django-googledrive-storage
django-model-utils
django-phonenumber-field
django-picklefield
django-q2
django-redis
django-sesame
django-settings-export
django-simple-history
django-sslserver
django-su
djangorestframework
doi2bib
drf-nested-routers
drf-yasg
factory-boy
Faker
gspread
humanize
idna
iso8601
ldap3
mod-wsgi
oauth2client
openpyxl
phonenumbers
psycopg2-binary
pylint
pylint-django
pyparsing
pytest
pytest-django
python-dateutil
python-memcached
pytz
redis
requests
sentry-sdk
six
sqlparse
text-unidecode
tqdm
urllib3
user-agents
wcwidth
