<div class="card">
  <div class="card-header"><strong>Reason Legend</strong></div>
  <div class="card-body">
    <p class="card-text text-justify">
      <strong>NO_VALID_USER_ACCOUNT_FEE_BILLING_ID: </strong>
      User does not have a valid PID for the user account fee.
      <span class="badge badge-primary">1</span>
    </p>
    <p class="card-text text-justify">
      <strong>NO_VALID_RECHARGE_USAGE_FEE_BILLING_ID: </strong>
      User is on a Recharge project does not have a valid PID for the recharge usage fee.
      <span class="badge badge-info">2</span>
    </p>
  </div>
</div>
