{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Remove Users from Project {% endblock %}

{% block content %}
    <h1>Remove users from project: {{project.title}}</h1>
    <hr>
    <div>
        <!-- Users pending removal -->
        <p>
            Below is a list of users pending removal from project
            {{ project.name }}. The requests must be processed by
            administrators.
        </p>
        <div>
            {% if users_pending_removal %}
                <div class="card">
                    <div class="card-body">
                        <h3 class="mb-3">Users Pending Removal</h3>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for proj_user in users_pending_removal %}
                                    <tr>
                                        <td>{{ proj_user.user.username }}</td>
                                        <td>{{ proj_user.user.first_name }}</td>
                                        <td>{{ proj_user.user.last_name }}</td>
                                        <td>{{ proj_user.user.email }}</td>
                                        <td>{{ proj_user.role.name }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-info">
                    No pending project removal requests!
                </div>
            {% endif %}
        </div>

        <hr>

        <!-- Users eligible for removal -->
        <p>
            Below is a list of users eligible to be removed from project
            {{ project.name }}. Select the users to be removed, then click on
            "Remove Selected Users". A confirmation window will appear before
            the requests will be submitted. Once removal requests are initiated,
            they must be processed by administrators.
        </p>
        <div>
            {% if users_to_remove %}
                <div class="modal fade" id="removeUsersModal" tabindex="-1" role="dialog" aria-labelledby="removeUsersModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <form action="{% url 'project-remove-users' project.pk %}" method="post" id="removeUsersForm">
                            {% csrf_token %}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <p class="modal-title">
                                        <b>Confirm User Removal</b>
                                    </p>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>
                                        Are you sure? These users will immediately be disallowed from submitting jobs under this project.
                                    </p>
                                    <p>
                                        <b>Note:</b> This process only removes the user from the project, and does not delete their cluster account.
                                    </p>
                                    <div style="max-height: 300px; overflow-y: auto;">
                                        <table class="table table-hover mb-0">
                                            <thead>
                                                <th scope="col">Username</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                    <input type="hidden" name="user_pks">
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button class="btn btn-danger" type="submit">
                                        <i class="fas fa-user-times" aria-hidden="true"></i>
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h3>Select Users to Remove</h3>
                            <button id="remove-selected-users-button" class="btn btn-danger" onclick="showUserRemovalModal()">
                                <i class="fas fa-user-times" aria-hidden="true"></i>
                                Remove Selected Users
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <th scope="col">Remove</th>
                                <th scope="col">Username</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                </thead>
                                <tbody>
                                {% for user in users_to_remove %}
                                    <tr>
                                        <td class="d-flex justify-content-around form-check">
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   name="users_selected_for_removal"
                                                   value="{{ user.pk }}"
                                                   id="user{{ user.pk }}"
                                                   data-username="{{ user.username }}"
                                                   data-email="{{ user.email }}"
                                                   data-role="{{ user.role }}"
                                                   style="width: 15px; height: 15px;">
                                        </td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.role }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <a class="btn btn-secondary mb-3" href="{% url 'project-detail' project.pk %}" role="button"><i class="fas fa-long-arrow-left" aria-hidden="true"></i> Back to Project</a>
                <div class="alert alert-info">
                    No users to remove!
                </div>
            {% endif %}
        </div>

    </div>

    <script>
        $(document).on('click', '#form_reset_button', function() {
            resetForm($('#filter_form'));
        });

        function resetForm($form) {
            $form.find('input:text, textarea').val('');
        };

        $("#expand_button").click(function() {

            $('#collapseOne').collapse();
            icon = $("#plus_minus");
            icon.toggleClass("fa-plus fa-minus");

        });

        function showUserRemovalModal() {
            var selectedUsers = [];
            $("input[name='users_selected_for_removal']:checked").each(function() {
                selectedUsers.push({
                    pk: $(this).val(),
                    username: $(this).data('username'),
                    email: $(this).data('email'),
                    role: $(this).data('role'),
                });
            });

            if (selectedUsers.length === 0) {
                alert('Please select at least one user to remove.');
                return;
            }

            // The value to be sent to the backend is a comma-separated string
            // of User primary keys.
            const selectedUserPks = selectedUsers.map((user) => user.pk);
            $("#removeUsersForm input[name='user_pks']").val(selectedUserPks);

            var tableBody = $("#removeUsersModal tbody");
            tableBody.empty();
            $.each(selectedUsers, function(index, user) {
                var userRow = `` +
                    `<tr>` +
                        `<td>${user.username}</td>` +
                        `<td>${user.email}</td>` +
                        `<td>${user.role}</td>` +
                    `</tr>`;
                tableBody.append(userRow);
            });

            $('#removeUsersModal').modal('show');
        }
        
        $('#removeUsersForm').on('submit', function() {
            $(this).find(':submit').prop('disabled', true);
        });
    </script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
