{% extends "common/base.html" %}
{% load static %}


{% block title %}
  Secure Directory Request: Research Data Management Team
{% endblock %}


{% block head %}
  {{ wizard.form.media }}
{% endblock %}


{% block content %}

  <h1>Secure Directory: Research Data Management Team</h1><hr>

  <ol class="breadcrumb">
    <li>{{ breadcrumb_project }}</li>
    <li>&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;</li>
    <li>{{ breadcrumb_pi }}</li>
  </ol>

  {% include "wizard_form.html" %}

{% endblock %}
