{% extends "common/base.html" %}
{% load static %}


{% block title %}
  Secure Directory Request: Data Description
{% endblock %}


{% block head %}
  {{ wizard.form.media }}
{% endblock %}


{% block content %}

  <h1>Secure Directory: Data Description</h1><hr>

  <ol class="breadcrumb">
    <li>{{ breadcrumb_project }}</li>
    <li>&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;</li>
    <li>{{ breadcrumb_pi }}</li>
  </ol>

  <p>Please respond to the following questions to provide us with more information about your data.</p>

  {% include wizard_form.html %}

{% endblock %}
