{% extends "common/base.html" %}
{% load static %}


{% block title %}
  Secure Directory Request: PI Selection
{% endblock %}


{% block head %}
  {{ wizard.form.media }}
{% endblock %}


{% block content %}

  <h1>Secure Directory: PI Selection</h1><hr>

  {% if breadcrumb_project %}
    <ol class="breadcrumb">
        <li>{{ breadcrumb_project }}</li>
    </ol>
  {% endif %}

  <p>Select a PI of the project. This PI will be asked to sign a Researcher Use Agreement during the approval process.</p>

  {% include "wizard_form.html" %}

{% endblock %}
