<div class="card mb-3">
  <div class="card-header">
    <h2>
      <i class="fas fa-info-circle" aria-hidden="true"></i>
      Request Information
      {% with status=addition_request.status.name %}
        {% if status == 'Under Review' %}
          <span class="badge badge-warning" style="float:right; position:relative; top:5px;">{{ status }}</span>
        {% elif status == 'Complete' %}
          <span class="badge badge-success" style="float:right; position:relative; top:5px;">{{ status }}</span>
        {% else %}
          <span class="badge badge-danger" style="float:right; position:relative; top:5px;">{{ status }}</span>
        {% endif %}
      {% endwith %}
    </h2>
  </div>
  <div class="card-body">
    <p class="card-text text-justify">
      <strong>Request #: </strong>
      {{ addition_request.pk }}
    </p>
    <p class="card-text text-justify">
      <strong>Date Requested/Last Modified: </strong>
      {{ addition_request.modified|date:"M. d, Y" }}
    </p>
    <p class="card-text text-justify">
      <strong>Requester: </strong>
      {% with requester=addition_request.requester %}
        {{ requester.first_name }} {{ requester.last_name }} ({{ requester.email }})
      {% endwith %}
    </p>
    <p class="card-text text-justify">
      <strong>Project: </strong>
      <a href="{% url 'project-detail' addition_request.project.pk %}">
          <span class="accessibility-link-text">{{ addition_request.project.name }}</span>
          {{ addition_request.project.name }}
      </a>
    </p>
    <p class="card-text text-justify">
      <strong>Number of Service Units: </strong>
      {{ addition_request.num_service_units }}
    </p>
    <p class="card-text text-justify">
      <strong>Purchase Details: </strong>
      <button id="view-purchase-details" class="btn btn-primary" role="button">
        View
      </button>
      {% if is_superuser %}
        <a href="{% url 'service-units-purchase-request-edit-extra-fields' addition_request.pk %}" class="btn btn-secondary">
          <i class="fas fa-edit" aria-hidden="true"></i>
          Edit
        </a>
      {% endif %}
    </p>
    <p class="card-text text-justify">
      <strong>Unsigned Memorandum of Understanding: </strong>
      <a href="{% url 'service-units-purchase-request-download-unsigned-mou' addition_request.pk 'service-units-purchase' %}" class="btn btn-primary">
        <i class="fas fa-download" aria-hidden="true"></i>
        Download
      </a>
    </p>
    {% if can_upload_mou or mou_uploaded %}
      <p class="card-text text-justify">
        <strong>Signed Memorandum of Understanding: </strong>
        {% if mou_uploaded %}
          <a href="{% url 'service-units-purchase-request-download-mou' addition_request.pk 'service-units-purchase' %}" class="btn btn-primary">
            <i class="fas fa-download" aria-hidden="true"></i>
            Download
          </a>
        {% endif %}
        {% if can_upload_mou %}
          <a href="{% url 'service-units-purchase-request-upload-mou' addition_request.pk 'service-units-purchase' %}"
          class="btn {% if mou_uploaded %} btn-secondary {% else %} btn-primary {% endif %}">
            <i class="fas fa-upload" aria-hidden="true"></i>
            Upload {% if mou_uploaded %} new {% endif %}
          </a>
          {% if not mou_uploaded %} <span style="color: red; font-weight: bold;">*</span> {% endif %}
        {% endif %}
      </p>
    {% endif %}
  </div>
</div>