{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Account Deletion: {{ user_str }} ({{ request_obj.user.username }})
{% endblock %}


{% block content %}
<h1>Account Deletion: {{ user_str }} ({{ request_obj.user.username }}) </h1>
<hr>

<p>
  Please confirm that {{ user_str }}'s account has been deleted
  from the cluster. This entails removing entries from various
  cluster files.
</p>

{% include 'account_deletion/detail_card.html' %}

<div class="card mb-3">
  <div class="card-header">
    <h4>
      <i class="fas fa-check-circle" aria-hidden="true"></i>
      Review
    </h4>
  </div>
  <div class="card-body">
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" value="Submit" />
      <a
              href="{% url 'cluster-account-deletion-request-detail' request_obj.pk %}"
              class="btn btn-secondary">
        Cancel
      </a>
    </form>
  </div>
</div>

<script>
    $("#navbar-main > ul > li.active").removeClass("active");
    $("#navbar-admin").addClass("active");
    $("#navbar-allocation-cluster-account-deletion-requests").addClass("active");
</script>

{% endblock %}
