{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Data Deletion: {{ user_str }} ({{ request_obj.user.username }})
{% endblock %}


{% block content %}
<h1>Data Deletion: {{ user_str }} ({{ request_obj.user.username }}) </h1>
<hr>

<p>
  Please confirm with {{ user_str }} that it is safe to delete their
  data from the cluster and then perform that deletion.
</p>
<p>
  <strong>User Confirmation</strong>:
  {% if user_data_deletion_status == 'Pending' %}
    <span class="badge badge-warning">Pending Confirmation</span>
  {% else %}
    <span class="badge badge-success">Confirmed: {{ user_data_deletion_timestamp|date:"M. d, Y" }}</span>
  {% endif %}
</p>

{% include 'account_deletion/detail_card.html' %}

<div class="card mb-3">
  <div class="card-header">
    <h4>
      <i class="fas fa-check-circle" aria-hidden="true"></i>
      Review
    </h4>
  </div>
  <div class="card-body">
    {{ form|crispy }}
    <form action="" method="post">
      {% csrf_token %}
      <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
    <a href="{% url 'cluster-account-deletion-request-detail' request_obj.pk %}" class="btn btn-secondary">
      Cancel
    </a>
  </div>
</div>

{% endblock %}
