<div class="card mb-3">
  <div class="card-header">
    <h4>
      <i class="fas fa-info-circle" aria-hidden="true"></i>
      Request Information
    </h4>
  </div>
  <div class="card-body">
    {% if not user.is_superuser %}
      <p>
        The request will wait in a queue for {{ waiting_period }} day(s) until
        the waiting period is over on {{ request_obj.expiration|date:"M. d, Y" }}.
      </p>
      <p>
        {% if request_obj.reason.name == 'LastProject' %}
          While the request is queued, the request will be automatically cancelled
          if you request to join a project, are added to a project, or request a
          new project. You will not be able to make any new requests once the waiting period
          of {{ waiting_period }} day(s) is over on {{ request_obj.expiration|date:"M. d, Y" }}.
        {% else %}
          While you have an active account deletion request, you cannot make any
          requests in the portal.
        {% endif %}
      </p>
      <p>
        After the request is complete, you will be removed from any remaining
        projects. You will lose access to the clusters. Your data will be
        deleted off of the cluster.
      </p>
      <p>
        Please note that while you are able to regain access to the cluster in the
        future and may rejoin projects, your data will not be recoverable after this
        request is completed. It is therefore important to move all data that your PI
        or group wishes to keep out of your personal cluster directories. These
        include your 'home' and 'scratch' directories.
      </p>
      <p>
        If you made the initial account deletion request and the request is in
        the 'Queued' or 'Ready' statuses, you may cancel the request by clicking
        on the cancel button at the bottom of the page.
      </p>
      <hr>
    {% endif %}
    <p class="card-text text-justify">
      <strong>Request ID: </strong>
      {{ request_obj.pk }}
    </p>
    <p class="card-text text-justify">
      <strong>User: </strong>
      {{ request_obj.user.first_name }} {{ request_obj.user.last_name }} ({{ request_obj.user.username }})
    </p>
    <p class="card-text text-justify">
      <strong>User Projects: </strong>
      {{ user_projects }}
    </p>
    <p class="card-text text-justify">
      <strong>Date Requested: </strong>
      {{ request_obj.created|date:"M. d, Y" }}
    </p>
    <p class="card-text text-justify">
      <strong>Expiration Date: </strong>
      {{ request_obj.expiration|date:"M. d, Y" }}
    </p>
    {% if request_obj.status.name == 'Complete' %}
      <p class="card-text text-justify">
        <strong>Date Completed: </strong>
        {{ request_obj.modified|date:"M. d, Y" }}
      </p>
    {% endif %}
    {% if request_obj.status.name == 'Cancelled' %}
      <p class="card-text text-justify">
        <strong>Date Cancelled: </strong>
        {{ request_obj.modified|date:"M. d, Y" }}
      </p>
    {% endif %}
    <p class="card-text text-justify">
      <strong>Reason: </strong>
      {{ request_obj.reason.description }}
    </p>
  </div>
</div>
