{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}
{% load iso8601_to_datetime %}


{% block title %}
  Cluster Account Deletion Request Detail
{% endblock %}


{% block content %}
  <h1>
    Cluster Account Deletion: {{ user_str }} ({{ request_obj.user.username }})
    {% with status=request_obj.status.name %}
      {% if status in 'Queued,Ready,Processing' %}
        <span class="badge badge-warning" style="float: right;">{{ status }}</span>
      {% elif status == 'Complete' %}
        <span class="badge badge-success" style="float: right;">{{ status }}</span>
      {% else %}
        <span class="badge badge-danger" style="float: right;">{{ status }}</span>
      {% endif %}
    {% endwith %}
  </h1>
  <hr>

  {% include 'account_deletion/detail_card.html' %}

  <div class="card mb-3">
    <div class="card-header">
      <h4>
        <i class="fas fa-question-circle" aria-hidden="true"></i>
        Request Status
      </h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm">
          <tbody>
          <tr>
            {% with status=request_obj.status.name %}
              {% if status == 'Queued' %}
                <p>
                  <strong>Status:</strong>
                  This request is currently queued. Queued requests must wait a standard waiting period of
                  {{ waiting_period }} before the request can be scheduled for processing.
                </p>
              {% elif status == 'Ready' %}
                <p>
                  <strong>Status:</strong>
                  This request has waited the standard waiting period of {{ waiting_period }} and is
                  ready to be scheduled for processing. The request should be scheduled for processing
                  shortly. If it has been several days and the request status has not been updated,
                  please contact us at
                  <a href = "mailto: {% settings_value 'CENTER_HELP_EMAIL' %}">
                    {% settings_value 'CENTER_HELP_EMAIL' %}.
                  </a>
                </p>
              {% elif status == 'Processing' %}
                <p>
                  <strong>Status:</strong>
                  This request is currently being processed by system administrators.
                </p>
              {% elif status == 'Complete' %}
                <p>
                  <strong>Status:</strong>
                  This request has been completed.
                </p>
              {% else %}
                <p>
                  <strong>Status:</strong>
                  This request has been cancelled. Below are specific details:
                </p>
                <p>
                  <strong>Category:</strong>
                  {{ cancel_reason.category }}
                </p>
                <p>
                  <strong>Justification:</strong>
                  {{ cancel_reason.justification }}
                </p>
                <p>
                  <strong>Timestamp:</strong>
                  {{ cancel_reason.timestamp|iso8601_to_datetime }}
                </p>
              {% endif %}

              <p>If you have any questions or concerns, please contact us at
                <a href = "mailto: {% settings_value 'CENTER_HELP_EMAIL' %}">
                  {% settings_value 'CENTER_HELP_EMAIL' %}.
                </a>
              </p>
            {% endwith %}
          </tr>
          <tr>
            <strong>Latest Update Timestamp:</strong>
            {{ latest_update_timestamp }}
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% if is_allowed_to_manage_request and request_obj.status.name not in 'Queued,Complete,Cancel Requestled' %}
    <div class="card mb-3">
      <div class="card-header">
        <h4>
          <i class="fas fa-check-circle" aria-hidden="true"></i>
          System Administrator Checklist
        </h4>
      </div>
      <div class="card-body">
        <p>
          This section, which is only visible for system administrators,
          manages this request. Please review the given information and complete
          the checklist in the following order before final approval. You may
          also cancel the request for some other reason.
        </p>
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
            <tr>
              <th scope="col">Task</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in checklist %}
              <tr>
                <td>{{ item.0 }}</td>
                <td>
                  {% with status=item.1 latest_update_timestamp=item.2 %}
                    {% if status == 'Pending' %}
                      <span class="badge badge-warning">
                    {% elif status in 'Approved,Completed' %}
                      <span class="badge badge-success">
                    {% else %}
                      <span class="badge badge-danger">
                    {% endif %}
                  {{ status }}
                  {% if latest_update_timestamp %}
                    {{ latest_update_timestamp|iso8601_to_datetime }}
                  {% endif %}
                  </span>
                  {% endwith %}
                </td>
                <td>
                  {% if item.3 %}
                    <a href="{{ item.4 }}" class="btn btn-primary">
                      Manage
                    </a>
                  {% else %}
                    <button class="btn btn-primary" disabled="true">
                      Manage
                    </button>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <hr>
        {% if is_checklist_complete %}
          <form action="{% url 'cluster-account-deletion-request-detail' request_obj.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{% url 'cluster-account-deletion-request-list' %}" class="btn btn-secondary">Back</a>
            {% include 'account_deletion/cancellation_popover.html' %}
          </form>
        {% else %}
          <button type="button" class="btn btn-primary" disabled>Submit</button>
          <a href="{% url 'cluster-account-deletion-request-list' %}" class="btn btn-secondary">Back</a>
          {% include 'account_deletion/cancellation_popover.html' %}
        {% endif %}
      </div>
    </div>
  {% elif is_allowed_to_manage_request and request_obj.status.name in 'Queued,Ready' %}
    <div class="card mb-3">
      <div class="card-header">
        <h4>
          <i class="fas fa-check-circle" aria-hidden="true"></i>
          Manage Request
        </h4>
      </div>
      <div class="card-body">
        <a href="{% url 'cluster-account-deletion-request-cancel' request_obj.pk %}" class="btn btn-danger">Cancel Request</a>
        <a href="{% url 'cluster-account-deletion-request-list' %}" class="btn btn-secondary">Back</a>
      </div>
    </div>
  {% elif user == request_obj.user and request_obj.status.name not in 'Complete,Cancelled' %}
    <div class="card mb-3">
      <div class="card-header">
        <h4>
          <i class="fas fa-check-circle" aria-hidden="true"></i>
          User Checklist
        </h4>
      </div>
      <div class="card-body">
        <p>
          Below is a list of items that you must complete for your account deletion to proceed.
        </p>
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
            <tr>
              <th scope="col">Task</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in checklist %}
              <tr>
                <td>{{ item.0 }}</td>
                <td>
                  {% with status=item.1 latest_update_timestamp=item.2 %}
                    {% if status == 'Pending' %}
                      <span class="badge badge-warning">
                    {% elif status in 'Approved,Completed' %}
                      <span class="badge badge-success">
                    {% else %}
                      <span class="badge badge-danger">
                    {% endif %}
                  {{ status }}
                  {% if latest_update_timestamp %}
                    {{ latest_update_timestamp|iso8601_to_datetime }}
                  {% endif %}
                  </span>
                  {% endwith %}
                </td>
                <td>
                  {% if item.3 %}
                    <a href="{{ item.4 }}" class="btn btn-primary">
                      Manage
                    </a>
                  {% else %}
                    <button class="btn btn-primary" disabled="true">
                      Manage
                    </button>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <hr>
        {% if request_obj.status.name in 'Queued,Ready' %}
          <a href="{% url 'cluster-account-deletion-request-cancel' request_obj.pk %}" class="btn btn-danger">Cancel Request</a>
          <a href="{% url 'cluster-account-deletion-request-list' %}" class="btn btn-secondary">Back</a>
        {% endif %}
      </div>
    </div>
  {% endif %}

{% endblock %}

<script>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover({html:true});
    });
</script>