This document outlines the agreement between the Berkeley Research Computing (BRC) program and 
{{ course_dept }} to provide an Instructional Computing Allowance (ICA) for computing on Savio 
associated with {{ pi_name }}'s course {{ course_name }} <br><br>
The BRC ICA is provided in the context of an active partnership between {{ dept_and_pi }} and BRC, wherein 
both parties agree to specific roles and responsibilities and associated activities:<br>
<ul><li>{{ dept_and_pi }} agrees to name a front-line point-of-contact (specified below; this point-of-contact 
for a course will generally be the Faculty member who requested the ICA and who signs the MOU form or the 
course GSI) who will attempt to resolve issues and questions from students.</li>
<ul><li>Students will not contact BRC staff directly (via email, telephone, or in person) with issues.</li>
<li>All issues that cannot be resolved locally by the point-of-contact or other {{ course_dept }} faculty or staff, will 
be raised by the point-of-contact through normal BRC issue channels (e.g., brc-hpc-help@berkeley.edu).</li>
<li>For this {{ dept_and_pi }} ICA, the point-of-contact will be {{ point_of_contact }}</li>
<li>If {{ dept_and_pi }} wishes to change the point-of-contact, the new person must have sufficient training 
and/or experience with the high performance computing in Savio to support the students, and must be 
approved in advance by BRC staff before the change can be made.</li>
<li>If there are ongoing problems with students contacting BRC directly rather than going through the point-of-contact 
contact, BRC reserves the right to terminate the agreement, canceling the allowance and deactivating student accounts.</li></ul>
<br><li>BRC agrees to provide an allowance of {{ service_units }} Service Units for use on the Savio computing cluster, 
and up to {{ num_students }} associated accounts for trainees. BRC will provide standard support to the point-of-contact, 
including resolution of access issues, etc.
<ul><li>The allowance will expire at the end of {{ allowance_last_month }}. If {{ dept_and_pi }} requires additional 
resources for {{ allowance_year_short }}, a renewal application can be submitted in {{ allowance_last_month }}.</li>
<li>The point-of-contact is responsible for monitoring the activity against the allowance and ensuring any policies 
about individual usage. As a default, BRC will impose per-job time and core-count limits and per-user number of job 
limits to avoid situations where one trainee accidentally uses a large fraction of the allowance in a short 
period of time, but these limits could be relaxed based on consensus of BRC and {{ dept_and_pi }}.</li>
<li>The student/trainee accounts on Savio will be disabled when the allowance expires, 
unless a renewal agreement has been approved.</li></ul><br>
This agreement is understood to be a pilot, to work through issues in supporting instruction with 
BRC resources. The solution described for limiting job-time and core-counts is a simple bridge solution for the 
term of this MOU and cannot provide all the features that might be desired; BRC hopes to replace it with a more robust 
solution which is currently under development. {{ dept_and_pi }} staff will work with BRC staff during the term of 
this MOU to clarify requirements for monitoring student usage under an ICA.