This MOU describes the working agreement by which project {{ project }} will obtain an additional allowance for use of 
the Berkeley Research Computing (BRC) Savio cluster.<br><br>
An allowance of {{ service_units }} service units (SUs) will be created for {{ pi_name }}. This purchased allowance will be 
separate from any Faculty Computing Allowance, so that the associated "budgets" can be managed separately. This 
purchased allowance will function largely the same as the Faculty Computing Allowance (FCA); {{ pi_name }} will 
determine who has access, and will manage the shared resource among their Lab members. Purchased allowances 
differ from FCAs in two important ways: unlike the FCA, this purchased allowance will not expire at the end of the 
fiscal year; it will remain available until exhausted, or replenished with a subsequent purchase agreement. Also, this 
MOU allowance will be reimbursed for SUs lost if jobs fail or are killed due to unplanned downtime.<br><br>
The associated expense of {{ cost }} will be transferred by the BRC program financial staff to the COA:<br><br>
&emsp;{{ chartstring }}<br><br>
Once this transfer is complete, the allowance access will be enabled.<br><br>
BRC staff will provide {{ pi_name }} with the details for using the purchased allowance, including how to submit 
jobs to Savio using this allowance.<br><br>
The purchased allowance is pre-paid and non-refundable.<br><br>
This agreement will remain in effect until the purchased allowance is exhausted. If additional access is needed, 
additional separate MOU\'s may be negotiated.