{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}
{% load feature_flags %}

{% block title %}
MOU Upload
{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

<h1>{{ mou_type_long }} MOU Upload</h1>
<hr>

<script type="text/javascript" src="{% static 'common/js/leave_form_alert.js' %}"></script>

<p>Upload a signed Memorandum of Understanding to be reviewed by our Administrators.</p>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
  {{ form.as_table }}
  </table>
  <br>
  <input class="btn btn-primary" type="submit" value="Submit" />
  <a href=
  {% if mou_type == "new-project" %}"{% url 'new-project-request-detail' request_obj.pk %}"
  {% elif mou_type == "secure-dir" %}"{% url 'secure-dir-request-detail' request_obj.pk %}"
  {% elif mou_type == "service-units" %}"{% url 'service-units-purchase-request-detail' request_obj.pk %}"
  {% endif %} class="btn btn-secondary">
    Cancel
  </a>
</form>

{% endblock %}
