{% extends "common/base.html" %}
{% load feature_flags %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Update Allowance Details
{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

<h1>Update Allowance Details</h1>
<hr>

<script type="text/javascript" src="{% static 'common/js/leave_form_alert.js' %}"></script>
<script type='text/javascript' src="{% static 'selectize/selectize.min.js' %}"></script>
<link rel='stylesheet' type='text/css' href="{% static 'selectize/selectize.bootstrap3.css' %}"/>

<p>Update allowance details that are used in MOU generation.</p>

<div class="card mb-3">
  <div class="card-body">
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" value="Submit" />
      <a href="{% url 'new-project-request-detail' savio_request.pk %}" class="btn btn-secondary">
        Cancel
      </a>
    </form>
  </div>
</div>


{% endblock %}