{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}

{% block title %} Delete Cluster Accounts {% endblock %}

{% block content %}
    <h1>Delete Cluster Accounts</h1>
    <hr>
    <tr>
        <td>
            Below is a list of users who are eligible to have their cluster accounts deleted. 
            To initiate a cluster account deletion request, click the "Delete" button and
            complete the subsequent form to confirm the request. Once a deletion 
            request is initiated, it must will be queued for a standard waiting period of
            {{ waiting_period }}. After this period, the request will be reviewed and processed
            by system administrators.
        </td>
        <p></p>
        {% if expand_accordion == "show" or user_list or user.is_superuser%}
          <td>
          <div class="mb-3" id="accordion">
            <div class="card">
              <div class="card-header">

                <a id="expand_button" role="button" class="card-link " data-toggle="collapse" href="#collapseOne">
                  <i class="fas fa-filter" aria-hidden="true"></i> Search
                  <i id="plus_minus" class="fas {{expand_accordion|get_icon}} float-right"></i>
                </a>
              </div>
              <div id="collapseOne" class="collapse {{expand_accordion}}" data-parent="#accordion">
                <div class="card-body">
                  <form id="filter_form" method="GET" action="{% url 'cluster-account-deletion-eligible-users' %}" autocomplete="off">
                    {{ search_form|crispy }}
                    <input type="submit" class="btn btn-primary" value="Search">
                    <button id="form_reset_button" type="button" class="btn btn-secondary">Reset</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          </td>
        {% endif %}
        <td>
            {% if users_to_delete %}
                      <p><strong>Select Users to Delete:  </strong></p>
                        <div class="table-responsive">
                            <table class="table table-hover" style="width: 100%; height: 100%">
                                <thead>
                                <th scope="col" class="text-nowrap">#</th>
                                <th scope="col" class="text-nowrap">First Name</th>
                                <th scope="col" class="text-nowrap">Last Name</th>
                                <th scope="col" class="text-nowrap">Email</th>
                                <th scope="col" class="text-nowrap">User Projects</th>
                                <th scope="col" class="text-nowrap">Delete</th>
                                </thead>
                                <tbody>
                                {% for user_dict in users_to_delete %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ user_dict.user.first_name }}</td>
                                        <td>{{ user_dict.user.last_name }}</td>
                                        <td>{{ user_dict.user.email }}</td>
                                        <td>{{ user_dict.projects }}</td>
                                        <td>
                                          <a class="btn btn-danger" href="{% url 'cluster-account-deletion-request' user_dict.user.pk %}" role="button" style="white-space:nowrap">
                                            <i class="fa fa-times" aria-hidden="true"></i> Delete
                                          </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                          {% with users_to_delete as page_obj %}
                            {% include 'common/pagination.html' %}
                          {% endwith %}
                        </div>
            {% else %}
                <div class="alert alert-info">
                    No users eligible to delete!
                </div>
              <a class="btn btn-secondary mb-3" href="{% url 'project-list' %}" role="button"><i class="fas fa-long-arrow-left" aria-hidden="true"></i> Back </a>
            {% endif %}
        </td>
    </tr>

    <script>
        $(document).on('click', '#form_reset_button', function() {
            resetForm($('#filter_form'));
        });

        function resetForm($form) {
            $form.find('input:text, textarea').val('');
        };

        $("#expand_button").click(function() {

            $('#collapseOne').collapse();
            icon = $("#plus_minus");
            icon.toggleClass("fa-plus fa-minus");

        });
    </script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
