{% extends "common/base.html" %}
{% load feature_flags %}
{% load socialaccount %}

{% load common_tags %}

{% block content %}

<h1>Welcome to {{ PORTAL_NAME }}</h1>
<p class="lead">
  {{ PORTAL_NAME }} is a user portal for managing access to the clusters and
  other resources provided by the {{ PROGRAM_NAME_LONG }}
  ({{ PROGRAM_NAME_SHORT }}) program.
  For more information, refer to our <a href="{% settings_value 'CENTER_USER_GUIDE' %}">documentation</a>.
</p>

{% flag_enabled 'BASIC_AUTH_ENABLED' as basic_auth_enabled %}
{% if basic_auth_enabled %}
<div class="mt-3">
  <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">
    <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
    Log In
  </a>
  <a class="btn btn-secondary btn-lg" href="{% url 'register' %}" role="button">
    Register
  </a>
</div>
{% endif %}
{% flag_enabled 'SSO_ENABLED' as sso_enabled %}
{% if sso_enabled %}
  {% flag_enabled 'BRC_ONLY' as brc_only %}
  {% if brc_only %}
    {% include "user/sso_login_cards_brc.html" %}
  {% else %}
    {% include "user/sso_login_cards_lrc.html" %}
  {% endif %}
{% endif %}

{% include "portal/extra_app_templates.html" %}

{% endblock %}


{% block javascript %}
{{ block.super }}
<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-home").addClass("active");
</script>
{% endblock %}
