{% extends "common/wizard_base.html" %}


{% block title %}
{{ PRIMARY_CLUSTER_NAME }} Project Request - Recharge Details
{% endblock %}


{% block content %}

<h1>{{ PRIMARY_CLUSTER_NAME }}: Recharge Details</h1><hr>

<ol class="breadcrumb">
  <li>Allowance: {{ computing_allowance.name }}</li>
  <li>&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;</li>
  <li>Allocation Period: {{ allocation_period.name }}</li>
  <li>&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;</li>
  <li>{{ breadcrumb_pi }}</li>
</ol>

<p>
  Please provide the following details to purchase time on
  {{ PRIMARY_CLUSTER_NAME }}. You will also need to return a signed copy of a
  Memorandum of Understanding that will be sent to you.
</p>

{{ block.super }}

{% endblock %}
