{% extends "common/wizard_base.html" %}
{% load feature_flags %}
{% load common_tags %}


{% block title %}
{{ PRIMARY_CLUSTER_NAME }} Project Request - PI {% settings_value 'DEPARTMENTS_DEPARTMENT_DISPLAY_NAME' %}
{% endblock %}


{% block head %}
  {{ block.super }}

  {% include "common/selectize.html" %}
{% endblock %}


{% block content %}

<h1>{{ PRIMARY_CLUSTER_NAME }}: Principal Investigator</h1><hr>

<ol class="breadcrumb">
  <li>Allowance: {{ computing_allowance.name }}</li>
  <li>&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;</li>
  <li>Allocation Period: {{ allocation_period.name }}</li>
  <li>&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;</li>
  <li>{{ breadcrumb_pi }}</li>
</ol>

{% settings_value 'DEPARTMENTS_DEPARTMENT_DISPLAY_NAME' as department_display_name %}
<p>Select one or more {{ department_display_name | lower }}s for the Principal Investigator of the project. You may search for the {{ department_display_name | lower }}(s) in the selection field.</p>
<p>
  {% flag_enabled 'BRC_ONLY' as brc_only %}
  {% if brc_only %} Non-Berkeley {% else %} Non-Lab {% endif %}
  users should select "Other".
</p>

{{ block.super }}
{% endblock %}

{% block javascript %}
<script>
  $('select').selectize({
    create: false,
    sortField: 'text',
    placeholder: 'Type to search.'
  })
</script>
{% endblock %}
