{% extends "common/wizard_base.html" %}


{% block title %}
Project Renewal - Allocation Period
{% endblock %}


{% block head %}
  {{ block.super }}

  {% include "common/selectize.html" %}
{% endblock %}


{% block content %}
<h1>Select an Allocation Period</h1><hr>

<p>
  Select the period to renew the allocation under. Requests to renew under a
  period that has not begun yet may be approved before its start date, but will
  not be fully processed (i.e., service units will not be available) until
  then.
</p>

{{ block.super }}

{% endblock %}


{% block javascript %}
  <script>
    $('select').selectize({
      create: false,
    })
  </script>
{% endblock %}
