{% extends "common/wizard_base.html" %}


{% block title %}
Project Renewal - Billing ID
{% endblock %}


{% block head %}
  {{ block.super }}

  {% include "common/selectize.html" %}
{% endblock %}


{% block content %}
<h1>Billing ID</h1><hr>

<ol class="breadcrumb">
  <li>Allocation Period: {{ allocation_period.name }}</li>
  <li>&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;</li>
  <li>PI: {{ PI.user.username }}</li>
</ol>

<p>
  Please provide an LBL Project ID, which may be used for billing:
</p>

{{ block.super }}

{% endblock %}


{% block javascript %}
  <script>
    $('select').selectize({
      create: false,
    })
  </script>
{% endblock %}
