{% extends "common/wizard_base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Project Renewal - Review and Submit
{% endblock %}


{% block content %}
<h1>Review and Submit</h1><hr>

<ol class="breadcrumb">
  <li>Allocation Period: {{ allocation_period.name }}</li>
  <li>&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;</li>
  <li>PI: {{ PI.user.username }}, Current Project: {{ current_project }}</li>
  <li>&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;</li>
  <li>Preference: {{ breadcrumb_pooling_preference }}</li>
  <li>&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;</li>
  <li>Requested Project: {{ requested_project }}</li>
</ol>

<p>
  Review your selections and submit.
</p>

<div class="table-responsive">
  <table class="table table-sm">
    <tbody>
      <tr>
        <th>Allocation Period</th>
        <td>
          {{ allocation_period.name }}
          ({{ allocation_period.start_date|date:"Y-m-d" }} -
          {{ allocation_period.end_date|date:"Y-m-d" }})
        </td>
      </tr>
      <tr>
        <th>Principal Investigator (PI)</th>
        <td>
          {% with pi=PI.user %}
            {{ pi.first_name }} {{pi.last_name }} ({{ pi.email }})
          {% endwith %}
        </td>
      </tr>
      <tr>
        <th>PI's Current Project</th>
        <td>{{ current_project }}</td>
      </tr>
      <tr>
        <th>Updated Project Choice</th>
        <td>{{ requested_project }}</td>
      </tr>
      <tr>
        <th>Number of Service Units</th>
        <td>{{ allocation_amount }}</td>
      </tr>
      {% if billing_id_change_requested %}
      <tr>
        <th>Billing ID Update</th>
        <td>{{ prev_billing_id }} &rarr; {{ billing_id }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>


{% if billing_id_change_requested %}
  <p>
    The following changes will occur immediately upon submission:
  </p>
  <ol>
    <li>
      The LBL Project ID used for billing for {{ requested_project }} will be
      updated from {{ prev_billing_id }} to {{ billing_id }}.
    </li>
  </ol>
{% endif %}


<p>
  The following changes will occur if the request is approved:
</p>
<ol>
  {% if preference in 'pooled_to_pooled_different,pooled_to_unpooled_old,pooled_to_unpooled_new' %}
    <li>
      If Current Project {{ current_project }} has not been renewed by the time
      the request is processed, it will be deactivated.
    </li>
  {% endif %}
  {% if preference in 'unpooled_to_pooled,pooled_to_pooled_different,pooled_to_unpooled_old,pooled_to_unpooled_new' %}
    <li>
      If the PI is not the only PI on Current Project {{ current_project }} when
      the request is processed, they will be demoted to a regular User on the
      project.
    </li>
  {% endif %}
  <li>
    Requested Project {{ requested_project }} will be granted
    {{ allocation_amount }} service units.
  </li>
</ol>

{{ block.super }}

{% endblock %}
