<table class="table table-sm">
  <thead>
  <tr>
    <th scope="col">
      #
      {% include 'common/table_sorter.html' with table_sorter_field='id' %}
    </th>
    <th scope="col">
      Project
      {% include 'common/table_sorter.html' with table_sorter_field='post_project__name' %}
    </th>
    <th scope="col">
      PI
      {% include 'common/table_sorter.html' with table_sorter_field='pi__email' %}
    </th>
    <th scope="col">
      Requested
      {% include 'common/table_sorter.html' with table_sorter_field='request_time' %}
    </th>
    <th scope="col">
      Allocation Period
      {% include 'common/table_sorter.html' with table_sorter_field='allocation_period__start_date' %}
    </th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  {% for renewal_request in queryset %}
    <tr>
      <td>{{ renewal_request.pk }}</td>
      <td>
        <a href="{% url 'pi-allocation-renewal-request-detail' renewal_request.pk %}">
          {{ renewal_request.post_project.name }}
        </a>
      </td>
      <td>{{ renewal_request.pi.email }}</td>
      <td>{{ renewal_request.request_time|date:"M. d, Y" }}</td>
      <td>{{ renewal_request.allocation_period.name }}</td>
      <td>
        {% with status=renewal_request.status.name %}
          {% if status == 'Under Review' %}
            <span class="badge badge-warning">{{ status }}</span>
          {% elif status == 'Approved' %}
            <span class="badge badge-warning">
                {{ status }} - Scheduled
              </span>
          {% elif status == 'Complete' %}
            <span class="badge badge-success">{{ status }}</span>
          {% else %}
            <span class="badge badge-danger">{{ status }}</span>
          {% endif %}
        {% endwith %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
