{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Project Renewal - Project Selection
{% endblock %}


{% block head %}
{{ wizard.form.media }}
{% endblock %}


{% block content %}

<h1>Select a Project</h1><hr>

<ol class="breadcrumb">
  <li>Allocation Period: {{ allocation_period.name }}</li>
  <li>&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;</li>
  <li>PI: {{ PI.user.username}}, Current Project: {{ current_project }}</li>
  <li>&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;</li>
  <li>Preference: {{ breadcrumb_pooling_preference }}</li>
</ol>

<p>
  Select the Project for which the PI's allowance should be renewed.
</p>

{% include "wizard_form.html" %}

{% endblock %}
