Dear {{ pi_str }},<br>
<br>
A user ({{ requester_str }}) has made a request to renew your allowance under project {{ requested_project_name }} via the MyBRC User Portal.<br>
<br>
You may view the details of the request here: {{ review_url }}.<br>
<br>
If approved, you will become a PI on the project. The requesting user will become a manager and gain cluster access under the project's allowance.<br>
<br>
If you would like to prevent this, or have any questions, please contact us at {{ support_email }}.<br>
<br>
You already have a portal account and may log in here: {{ login_url }}<br>
<br>
Thank you,<br>
{{ signature }}<br>
