<p>Dear project managers of {{ project_name }},</p>

<p>Your {{ computing_allowance_name_long }}(s) will expire on {{ current_allocation_period_end_date }}. You may now request to renew the free allowance for {{ next_allocation_period_name }}, which runs from {{ next_allocation_period_start_date }} to {{ next_allocation_period_end_date }}.</p>

<p>To renew a PI's {{ computing_allowance_name_short }} under {{ project_name }}:</p>

<ol>
  <li>Visit the <a href="{{ project_detail_url }}">project</a> page, and click on the "Renew Allowance" button.</li>
  <li>Select the "{{ next_allocation_period_name }}" period and the PI. (If there are multiple PIs, they must be renewed separately).</li>
  <li>Fill out the usage survey. Note: This is not the final step of the renewal form.</li>
  <li>Review your selections and submit.</li>
</ol>

<p>Here is what to expect after making a request:</p>

<ul>
  <li>You and the PI should see a project renewal request on the <a href="{{ requests_url }}">Requests</a> page.</li>
  <li>The request will be reviewed and approved a few days before {{ next_allocation_period_start_date }}. You and the PI will be notified by email.</li>
  <li>If approved, the request will be processed on {{ next_allocation_period_start_date }}, and {{ num_service_units }} service units will be allocated to {{ project_name }}. You and the PI will be notified by email.</li>
</ul>

<p>If a PI would like to move their {{ computing_allowance_name_short }} to a different project, their pooling preferences may be updated <a href="{{ general_renewal_url }}">here</a>.</p>

<p>If you have any questions, please contact us at {{ support_email }}.</p>

<p>Thank you,<br>
{{ signature }}</p>
