Dear {{ center_name }} user,<br>
<br>
Your request to renew PI {{ pi_name }}'s allowance has been denied for the following reason:<br>
<br>
Category: {{ reason_category }}<br>
Justification: {{ reason_justification }}<br>
<br>
Below are some additional details about the request:<br>
<br>
Current Project: {{ current_project_name }}<br>
Requested Project: {{ requested_project_name }}<br>
<br>
If you have any questions, contact us at {{ support_email }}.<br>
<br>
Thank you,<br>
{{ signature }}<br>
